footer {
    background-color: darkblue;
    color: white;
}
button {
    background-color: blue;
    border-radius: 5px;
    color: white;
    border-color: blue;
    padding: 10px  15px;
    margin-top: 10px;
    margin-block-end: 10px;
}
table{
    background-color: gray;
    color: white;
}
form {
    background-color: grey;
}

li {
    list-style: none;
    padding: 5px 5px;
}